@import '../../styles/global.scss';
@use "sass:map";

.tasks-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  font-size: 1.2rem;
  width: 65%;
  background-color: white;
  padding: 0.8rem;
  padding-bottom: 2.7rem;
  box-shadow: -1px 0 5px rgba($color: #000000, $alpha: 0.2);
  border-radius: 0 0.5rem 0.5rem 0;

  h1 {
    display: flex;
    margin: 1rem 0;
    font-size: 2.5rem;
    span {
      margin-left: auto;
    }
  }
}
