@import '../../styles/global.scss';

.sidebar {
  position: relative;
  width: 40%;
  padding: 0.8rem;
  padding-bottom: 2.7rem;
  border-radius: 0.5rem 0 0 0.5rem;

  .control-container {
    padding: 0.5rem 0;
    .control-btn {
      width: 0.9rem;
      height: 0.9rem;
      margin: 0.2rem;
      border-radius: 50%;
      border: none;
      outline: none;
    }
  }
}
