@import '../../basic_styles/variables.scss';
.sidebar {
  position: relative;
  width: 40%;
  padding: 0.8rem;
  background-color: $grey-one;
  overflow-y: hidden;
  border-radius: 0.5rem 0 0 0.5rem;

  .control-container {
    padding: 0.5rem 0;
    .control-btn {
      width: 0.9rem;
      height: 0.9rem;
      margin: 0.2rem;
      border-radius: 50%;
      border: none;
      outline: none;
    }
  }

  .search-form {
    position: relative;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.5rem 0;

    .search-icon {
      position: absolute;
      left: 10px;
      color: $grey-four;
    }
    input {
      display: block;
      width: 100%;
      padding: 0.5rem;
      padding-left: 2rem;
      border: none;
      border-radius: 0.4rem;
      background-color: $grey-two;
      color: $grey-six;
      font-size: 1rem;
      &:focus {
        outline: none;
      }
    }
  }

  .list-counts {
    display: grid;
    margin-top: 1rem;
    grid-template-columns: repeat(2, 2fr);
    grid-auto-rows: auto;
    gap: 0.7rem;
    .list {
      padding: 0.6rem;
      border-radius: 0.7rem;
      background: white;
      color: $grey-five;
      font-weight: bold;
      cursor: pointer;
      .header {
        display: flex;
        justify-content: space-between;
        .list-tasks-count {
          font-size: 1.5rem;
          color: $grey-six;
        }
      }
      .list-title {
        font-size: 1rem;
        font-weight: bold;
        padding-top: 0.5rem;
        color: $grey-five;
      }
    }
  }
  .lists-header {
    margin-top: 1.5rem;
    padding-left: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
  }
  .lists {
    li {
      display: flex;
      align-items: center;
      list-style: none;
      padding: 0.5rem 1rem;
      margin: 0.2rem 0;
      cursor: pointer;
      p {
        text-align: left;
        padding-left: 1.2rem;
        color: $grey-six;
        font-weight: bold;
      }
      &.active {
        background-color: $grey-four;
        border-radius: 0.5rem;
      }
      &:hover {
        background-color: $grey-four;
        border-radius: 0.5rem;
      }
    }
    .icon {
      font-size: 1rem;
    }
    .list-tasks-count {
      color: $grey-five;
      margin-left: auto;
      font-size: 0.9rem;
    }
  }
  .add-list {
    position: absolute;
    bottom: 10px;
    color: $light-blue;
  }
}

.add-btn {
  padding: 0.5rem;
  font-size: 0.9rem;
  border: none;
  color: $grey-five;
  background-color: transparent;
  svg {
    margin-right: 0.5rem;
  }
  &:active {
    color: $grey-six;
  }
}
.icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  font-size: 1.2rem;
  border-radius: 3rem;
  color: white;
  line-height: 2rem;
  text-align: center;
}
